---
import { Icon } from "astro-icon/components";
const iconSize = 30;
---

<div>
  <button id="toggle-language" aria-label="Toggle language">
    <Icon name="twemoji:flag-japan" width={iconSize} height={iconSize} />
  </button>
  <a href="/blog/">
    <Icon name="carbon:blog" width={iconSize} height={iconSize} />
    <span>ブログ全記事一覧</span>
  </a>
  <button id="themeToggle" aria-label="Toggle light and dark theme">
    <Icon
      class="sun"
      name="solar:sun-2-bold"
      width={iconSize}
      height={iconSize}
    />
    <Icon
      class="moon"
      name="solar:moon-bold"
      width={iconSize}
      height={iconSize}
    />
  </button>
</div>

<script>
  // Get the HTML element and button
  const htmlElement = document.documentElement;
  const themeToggle = document.getElementById("themeToggle") as HTMLElement;

  // Function to save and apply the new theme
  function toggleAndSetTheme() {
    // Check if the HTML element currently has the 'dark' class
    const isDark = htmlElement.classList.contains("dark");

    // Determine the new theme
    const newTheme = isDark ? "light" : "dark";

    // Toggle the class on the HTML element
    if (newTheme === "dark") {
      htmlElement.classList.add("dark");
    } else {
      htmlElement.classList.remove("dark");
    }

    // Save the new preference to localStorage
    localStorage.setItem("theme", newTheme);
  }

  // Button Click Listener
  themeToggle.addEventListener("click", toggleAndSetTheme);

  document.getElementById("toggle-language")?.addEventListener("click", () => {
    /*
    const currentPath = window.location.pathname;
    if (currentPath.startsWith("/blog/")) {
      // Switch to Japanese homepage
      window.location.href = "/";
    } else {
      // Switch to English blog page
      window.location.href = "/blog/";
    }
    */
    alert("Language toggle is coming sooooooooon™");
  });
</script>

<style>
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    padding: 5px 10px;
  }

  button {
    padding: 0;
    display: flex;
    align-items: center;
  }

  /* Helper class to hide text visually but keep it for Screen Readers */
  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  #themeToggle {
    border: 0;
    background: none;
    cursor: pointer;
  }

  .sun {
    color: black;
    display: none;
  }
  .moon {
    color: black;
    display: block;
  }

  :global(.dark) .sun {
    color: white;
    display: block;
  }
  :global(.dark) .moon {
    display: none;
  }
</style>
