---
import ProfileInfoContainer from "./atoms/ProfileInfoContainer.astro";
import { Icon } from "astro-icon/components";
const iconSize = "2.8em";
---

<ProfileInfoContainer
  title="使ったことあるやつ"
  icon="mdi:code-tags"
  boxType="large"
>
  <div class="tech-stack-icons">
    <Icon name="skill-icons:html" size={iconSize} />
    <Icon name="skill-icons:javascript" size={iconSize} />
    <Icon name="skill-icons:typescript" size={iconSize} />
    <Icon name="skill-icons:react-dark" size={iconSize} />
    <Icon name="skill-icons:gatsby" size={iconSize} />
    <Icon name="skill-icons:graphql-dark" size={iconSize} />
    <Icon name="skill-icons:astro" size={iconSize} />
    <Icon name="skill-icons:vite-dark" size={iconSize} />
    <Icon name="skill-icons:materialui-dark" size={iconSize} />
    <Icon name="skill-icons:nodejs-dark" size={iconSize} />
    <Icon name="skill-icons:npm-dark" size={iconSize} />
    <Icon name="skill-icons:yarn-dark" size={iconSize} />
    <Icon name="skill-icons:bun-dark" size={iconSize} />
    <Icon name="skill-icons:python-dark" size={iconSize} />
    <Icon name="simple-icons:googleappsscript" size={iconSize} />
    <Icon name="skill-icons:netlify-dark" size={iconSize} />
    <Icon name="skill-icons:cloudflare-dark" size={iconSize} />
    <Icon name="skill-icons:git" size={iconSize} />
    <Icon name="skill-icons:github-dark" size={iconSize} />
    <Icon name="skill-icons:githubactions-dark" size={iconSize} />
    <Icon name="skill-icons:linux-light" size={iconSize} />
    <Icon name="logos:ubuntu" size={iconSize} />
    <Icon name="simple-icons:proxmox" size={iconSize} />
    <Icon name="logos:linux-mint" size={iconSize} />
    <Icon name="logos:zorin-os" size={iconSize} />
    <Icon name="skill-icons:markdown-dark" size={iconSize} />
    <Icon name="skill-icons:vscode-dark" size={iconSize} />
    <Icon name="skill-icons:obsidian-dark" size={iconSize} />
    <Icon name="skill-icons:vim-dark" size={iconSize} />
    <Icon name="simple-icons:tailscale" size={iconSize} />
    <Icon name="logos:nginx" size={iconSize} />
    <Icon name="simple-icons:curseforge" size={iconSize} />
    <Icon name="material-icon-theme:minecraft-fabric" size={iconSize} />
  </div>
</ProfileInfoContainer>
