---
import { Image } from "astro:assets";

interface Props {
  title: string;
  imageSrc: ImageMetadata;
  link?: string;
  linkText?: string;
}

const { title, imageSrc, link, linkText } = Astro.props;
---

<section class={`info-box-wrapper`}>
  <div class="outer-container normal">
    <Image
      src={imageSrc}
      alt={title}
      style="color: var(--color-background);"
      widths={[280, 350, imageSrc.width]}
      sizes="(max-width: 768px) 280px, 350px"
      width={350}
      height={350}
      format="avif"
      loading="lazy"
      decoding="async"
    />
    <h2>
      {title}
    </h2>
    <p>
      <slot />
    </p>
    {
      link && linkText ? (
        <p>
          <a
            class="cardlink"
            href={link}
            target="_blank"
            rel="noopener noreferrer"
          >
            {linkText}
          </a>
        </p>
      ) : null
    }
  </div>

  <style>
    /* Local styles for the Astro wrapper */
    .info-box-wrapper {
      padding: 0 20px;
      margin: 0 0 18px;
      text-align: center;
      box-sizing: border-box;
      width: 320px;

      @media (min-width: 768px) {
        width: 480px;
      }
    }

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      height: 2.8em;
      line-height: 1.4em;

      padding: 0;
      margin: 16px auto;
    }

    img {
      width: 280px;
      height: 280px;
      aspect-ratio: 1 / 1;
      border-radius: 8px 8px 0px 0px;

      @media (min-width: 768px) {
        width: 350px;
        height: 350px;
        aspect-ratio: 1 / 1;
        transform: none;
        border-radius: unset;
      }
    }

    p {
      word-break: normal;
      padding: 0 14px;

      @media (min-width: 768px) {
        padding: 0 40px;
        word-break: auto-phrase;
      }
    }

    /* --- Base Container Styles --- */
    .outer-container {
      border: none;
      padding: 0 0 16px;
      background-color: var(--color-card);
      color: var(--color-text);
      border-radius: 10px 10px 8px 8px;
      transition: all 0.3s ease;
      box-sizing: border-box;
      height: 620px;

      @media (min-width: 768px) {
        padding: 32px 10px 16px;
        height: 780px;
      }
    }

    .cardlink {
      margin-top: 20px;
      display: inline-block;
      padding: 8px 24px;
      border-radius: 6px;
      background-color: var(--color-primary);
      border: 2px solid var(--color-text-sub);
      color: var(--color-text);
      color: var(--color-background);
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</section>
