---
import { Image } from "astro:assets";

interface Props {
  title: string;
  imageSrc: ImageMetadata;
  link?: string;
  linkText?: string;
}

const { title, imageSrc, link, linkText } = Astro.props;
---

<section class="info-box-wrapper">
  <div class="outer-container normal">
    <Image
      src={imageSrc}
      alt={title}
      style="color: var(--color-background);"
      widths={[300, 350, imageSrc.width]}
      sizes="(max-width: 768px) 300px, 350px"
      width={350}
      height={350}
      format="avif"
      loading="lazy"
      decoding="async"
    />
    <h2>{title}</h2>
    <div class="content">
      <p><slot /></p>
    </div>
    {
      link && linkText && (
        <p class="link-wrapper">
          <a
            class="cardlink"
            href={link}
            target="_blank"
            rel="noopener noreferrer"
          >
            {linkText}
          </a>
        </p>
      )
    }
  </div>
</section>

<style>
  .info-box-wrapper {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
  }

  .outer-container {
    background-color: var(--color-card);
    color: var(--color-text);
    border-radius: 10px;
    height: 660px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-items: center;

    @media (min-width: 768px) {
      height: 780px;
      padding: 32px 10px 16px;
    }
  }

  img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0;
    border-radius: 8px 8px 0 0;

    @media (min-width: 768px) {
      width: 350px;
      height: 350px;
      border-radius: 4px;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin: 16px 0;
    min-height: 2.8em; /* Reserve space for two lines of text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .content {
    flex-grow: 1; /* Allows the content to fill available space */
  }

  p {
    margin: 0;
    padding: 0 14px;
    word-break: auto-phrase;

    @media (min-width: 768px) {
      padding: 0 40px;
    }
  }

  .link-wrapper {
    margin: 20px 0;
    padding-bottom: 10px; /* Add some space below the link */
  }

  .cardlink {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid var(--color-text-sub);
    transition: transform 0.2s;
  }

  .cardlink:hover {
    transform: scale(1.05);
  }
</style>
