---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";
import ogDefaultImage from "@/assets/og-default.png";
import formatToJSTDate from "@/utils/formatToJSTDate";
import { Icon } from "astro-icon/components";
import type { MarkdownHeading } from "astro";

import {
  useTranslations,
  getLocalePaths,
  LOCALES,
  DEFAULT_LOCALE,
  type Lang,
} from "@/types/i18n";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const t = useTranslations(Astro.currentLocale as Lang);

interface Props {
  frontmatter: any;
  headings: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
const { slug } = Astro.params;
const { thumbnail } = frontmatter;

// Thumbnail generation

const images = import.meta.glob<{ default: ImageMetadata }>(
  `../content/blog/**/*.{jpeg,jpg,png,gif}`,
  { eager: true },
);
const articleImage =
  images[
    `../content/blog/${slug}/${thumbnail ? thumbnail.replace(/^\.\//, "") : null}`
  ]?.default ?? ogDefaultImage;

const articleDate = formatToJSTDate(frontmatter.date);
const lastUpdate = frontmatter.lastUpdate
  ? formatToJSTDate(frontmatter.lastUpdate)
  : null;

// TOC generation

const toc = headings.filter((h) => h.depth > 1 && h.depth < 4);
---

<Layout>
  <title slot="head">{`${frontmatter.title} | ${t(SITE_TITLE)}`}</title>
  <meta name="description" slot="head" content={frontmatter.desc} />
  <Header />
  <div class="blog-hero">
    <Image src={articleImage} alt={frontmatter.alt} loading="eager" />
    <p class="category">{frontmatter.category}</p>
    <h1>{frontmatter.title}</h1>
    <div class="date-container">
      <Icon name="mdi:calendar" size="1.1em" /><p class="date">{articleDate}</p>
      {
        lastUpdate && (
          <>
            <Icon name="mdi:update" size="1.1em" />
            <p class="date">{lastUpdate}</p>
          </>
        )
      }
    </div>
  </div>
  <div class="container">
    <slot />
  </div>
  <Footer />
</Layout>

<style>
  h1 {
    text-align: center;
    margin: 18px 40px 26px 40px;
    word-break: auto-phrase;
    font-size: 36px;

    @media (max-width: 768px) {
      font-size: 24px;
      margin: 8px 40px 16px 40px;
    }
  }

  .container {
    max-width: 768px;
    padding: 0 30px 80px;
    margin: 0 auto;
    p {
      max-width: 100vw;

      a:first-child {
        word-break: break-all;
      }

      code {
        word-break: break-all;
      }
    }
    img {
      display: block;
      max-width: 100%;
      object-fit: contain;
      height: auto;
      margin: 1.5lh auto;
    }

    h2 {
      margin-top: 60px;
    }
  }

  .blog-hero {
    max-width: 1080px;
    margin: 0 auto 40px auto;
    text-align: center;

    img {
      max-width: 100%;
      object-fit: cover;
      aspect-ratio: 1280 / 720;
      height: auto;
    }

    .date {
      padding-right: 0.5em;
    }

    .date-container {
      font-size: 0.8em;
      color: var(--color-text-sub);
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      height: 1.2em;
      color: var(--color-text-sub);
    }

    .category {
      background-color: var(--color-text-sub);
      color: var(--color-background);
      display: inline-block;
      text-align: center;
      padding: 0 14px;
      margin: 32px 0 0 0;
      border-radius: 8px;
      font-size: 0.9em;
    }
  }
</style>

<script is:inline define:vars={{ toc }}>
  const container = document.getElementById("article-toc-trigger");
  if (container && toc.length > 0) {
    const title = document.createElement("h2");
    title.innerText = "Table of Contents";

    const list = document.createElement("ul");
    toc.forEach((h) => {
      const li = document.createElement("li");
      li.style.marginLeft = `${(h.depth - 2) * 20}px`;
      const a = document.createElement("a");
      a.href = `#${h.slug}`;
      a.innerText = h.text;
      li.appendChild(a);
      list.appendChild(li);
    });

    container.appendChild(title);
    container.appendChild(list);
  }
</script>
